html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

a {
	color: #444;
}

a:hover {
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

main {
	margin: 0 auto;
	max-width: 1024px;
	padding: 20px 0;

}

.gallery img {
	max-width: 100%;
}

.gallery {
	align-content: center;
}

.microzoom-wrapper {
	z-index: 1000;
	
	background-color: rgba(255, 255, 255, .8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
/*	transition: opacity 300ms;
	opacity: 0;*/
	cursor: pointer;
	cursor: -webkit-zoom-out;
}

.microzoom-wrapper-show {
/*	opacity: 1;*/
}

.microzoom-wrapper a.microzoom-mode {
  position: absolute;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.microzoom-wrapper a.microzoom-mode:hover {
  color: #eee;
}

.microzoom-img {
	width: auto;
	height: auto;
	position: absolute;
}

.microzoom-img-width {
	width: 100vw;
}

/**
 * ripple animation
 */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #cef;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/**
 * Icons for image states
 */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?19475302');
  src: url('../font/fontello.eot?19475302#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?19475302') format('woff2'),
       url('../font/fontello.woff?19475302') format('woff'),
       url('../font/fontello.ttf?19475302') format('truetype'),
       url('../font/fontello.svg?19475302#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19475302#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-resize-small:before { content: '\e800'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */